{% extends "layout.html" %}

{% block content %}
    <div class= "jumbotron p-4">
        <h1>{{ records[0][0] }}</h1>
        <p>{{ records[0][1] }}</p>
    </div>
    <div class="card p-2">
    <table class= "table" data-toggle= "table" data-search= "true">
        <thead class= "thead-light p-2">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Class ID</th>
        </tr>
        </thead>
        {% for record in records %}
            <tr>
                <th>{{ record[2] }}-{{ record[3] }}-{{ record[4] }}</th>
                <th>{{ record[5] }}:{{ record[6] }}</th>
                <th>{{ record[7] }}</th>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}