{% extends "layout.html" %}

{% block content %}
    <div class= "jumbotron p-4">
        {% if records|length > 0: %}
        <h1>{{ records[0].name }}</h1>
        <p>{{ records[0].rollNo }}</p>
        {% else %}
        <h1>Record not found</h1>
        <p>Try entering a valid roll no. or contact the admin.</p>
        {% endif %}
    </div>
    <div class="card p-2">
    <table class= "table" data-toggle= "table" data-search= "true">
        <thead class= "thead-light p-2">
        <tr>
            <th>Date</th>
            <th>Time Joined</th>
            <th>Duration</th>
            <th>Class</th>
            <th>Attended</th>
        </tr>
        </thead>
        {% for record in records %}
            <tr>
                <th>{{ record.dateTime.day }}-{{ record.dateTime.month }}-{{ record.dateTime.year }}</th>
                <th>{{ record.dateTime.hour }}:{{ record.dateTime.minute }}</th>
                <th>{{ record.duration }}</th>
                <th>{{ record.className }}</th>
                <th>{{ record.attended }}</th>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}