{% extends "layout.html" %}

{% block content %}
    <div class= "jumbotron p-4">
        {% if records|length > 0 %}
            <h1>All Records for {{ records[0].dateTime.day }}-{{ records[0].dateTime.month }}-{{ records[0].dateTime.year }}</h1>
            <p>RKGIT Attendance</p>
        {% else %}
            <h1>Nothing to show</h1>
            <p>Fill search form to view records</p>
        {% endif %}

        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ downloadForm.hidden_tag() }}
            
            <fieldset class= "form-group">
                
                <legend class= "border-bottom mb-4">Search Records</legend>
                <div class= "form-group">
                    {{ form.date.label }}
                    {{ form.date(class= "datepicker") }}
                    {{ form.fromTime.label }}
                    {{ form.fromTime(class= "timepicker") }}
                    {{ form.toTime.label }}
                    {{ form.toTime(class= "timepicker") }}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class= "btn btn-outline-primary") }}
                {% if records|length > 0 %}
                {{ downloadForm.submit(class= "btn btn-outline-primary") }}
                {% endif %}
            </div>
        </form>
    </div>
    <div class="card p-2">
    <table class= "table" data-toggle= "table" data-search= "true">
        <thead class= "thead-light p-2">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Class</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Attended</th>
        </tr>
        </thead>
        {% for record in records %}
            <tr>
                <th>{{ record.name }}</th>
                <th>{{ record.rollNo }}</th>
                <th>{{ record.className }}</th>
                <th>{{ record.dateTime.hour }}:{{ record.dateTime.minute }}</th>
                <th>{{ record.duration }}</th>
                <th>{{ record.attended }}</th>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}